.task {
  h3 {
    display: flex;
    justify-content: space-between;
    fa-icon {
      cursor: pointer;
    }
  }
  position: relative;
  cursor: pointer;
}

.reminder {
  &::after {
    position: absolute;
    top: 50%;
    left: -2%;
    transform: translate(-50%, -50%);
    content: "";
    width: 4px;
    height: 90%;
    background-color: green;
  }
}
